{% extends 'layout.html' %}

{% block content %}
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
<main role="main" class="inner cover">
  <div class="celebration-text">
    <p class="lead">A MONTH OF CELEBRATION!
    <br/>
    June 1 - 24, 2018<
    </p>
  </div>
  <div class="learn-btn">
    <p class="lead">
      <strong><a href="/info" id="link-for-info" class="btn btn-primary btn-outline">Learn more about our upcoming events</a></strong>
    </p>
  </div>
</main>
</div>
{% endblock content %}
