{% extends 'layout.html' %}

{% block content %}
<main role="main">

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Behesda Video Links</h1>
            <p>Bethesda Healing center offer a glimpse into our most recent past   Praise and worship and the Word.</p>
            <p><a class="btn btn-lg btn-primary" href="https://vimeo.com/bethesdahealingcenter" role="button">Check out our Videos</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Second slide">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Third slide">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>One more for good measure.</h1>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <!-- <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div> -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading" style="font-size: .8em; white-space: nowrap"><strong><u>Please join us for our annual church convention celebration.</strong></u></h2>
        <p class="lead">This year we celebrate 45 YEARS of MINISTRY! Hitherto has the Lord helped us!</p><p>This is the LORD'S doing; it is marvelous in our eyes.</br> -Psalm 118:25</p>
        <p>Hitherto has the Lord helped us.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="/static/images/portrait-resize.png" alt="Generic placeholder image">
        <p>Bishop</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <!-- <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2> -->
        <p class="lead">

          Dear family, friends & well-wishers, <br/><br/>
Greetings in the precious name of Jesus Christ, our Lord, and Savior. I pray that this
letter reaches you in good health and spirit. As we think of God’s goodness, we cannot
help but say, “It's the Lord’s doing and its marvelous in our eyes!” -Psalm 118:23
<br/><br/>
This year, we celebrate our 45th Annual Church Anniversary. We have set aside the
month of June 1-24, 2018 to celebrate, rejoice and give God thanks for bringing us thus
far. We are excited to have reached this milestone. We would be honored if you would
join us to rejoice, reflect and be an integral part of this momentous celebration.
<br/><br/>
Our church is diligently making strides to make a positive impact and changes in the
communities of East Flatbush, Brownsville, East New York and the other surrounding
areas in Brooklyn, New York. We believe that a church is not a church until it reaches
and touches the lives of the people it serves. Hence we ask for your prayers, presence,
and support in our efforts to reach mankind and serve his people with life-changing
truths.
      </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <!-- <h2 class="featurette-heading">DON’T MISS THIS WONDERFUL WEEKEND OF EVENTS!</h2> -->
        <h3 style="font-size: .8em; white-space: nowrap"><strong><u>DON'T MISS THIS WONDERFUL WEEKEND OF EVENTS!</u></strong></h3>
        <p>FRIDAY-JUNE 1ST</p>
        <p class="text-center"><strong>OPENING CELEBRATiON</strong></p>
        <p class="text-center">7:30PM - 10:30PM</p>
        <p>SATURDAY - JUNE 2ND</p>
        <p class="text-center">HOPE DAY</p>
        <p class="text-center">BHC WILL PARTNER WITH HOPEDAY NETWORK TO HAVE A COMMUNITY FAIR</p>
        <p>SATURDAY - JUNE 2ND</p>
        <p class="text-center">WORSHIP SERVICE</p>
        <p class="text-center">9AM - 12PM</p>

      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="static/images/bhc-heritage-resize.png" alt="Generic placeholder image">
      </div>
    </div>


    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <p class="text-center">
          GROCERIES • KIDS ZONE • LUNCH ENTERTAINMENT •
          COMMUNITY & HEALTH SERVICES • FAMILY PORTRAITS
          ART ZONE• BASKETBALL TOURNAMENT • PRAYER
        </p>
        <img class="featurette-image img-fluid mx-auto center-block" src="static/images/Picture2.png" alt="Generic placeholder image">
        <br/>
        <br/>
        <br/>
        <h4><strong>OUR STORY</strong></h4>
        <p>
          Hope Day was birthed through a series of Convoy of Hope events. Pastor Steve
Milazzo took a step of faith and began brainstorming and dreaming of a way that
churches could reach and transform their communities through volunteers. With the
help of Convoy of Hope, the Hope Day.
        </p>
        <a href="http://www.hopedaynetwork.org/new/about-us/">http://www.hopedaynetwork.org/new/about-us/</a>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="static/images/bhc-heritage-resize.png" alt="Generic placeholder image">
        <img class="featurette-image img-fluid mx-auto" src="static/images/Picture1.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h3 style="font-size: .8em; white-space: nowrap"><strong><u>DON'T MISS THIS WONDERFUL WEEKEND OF EVENTS!</u></strong></h3>
        <p>FRIDAY-JUNE 8TH</p>
        <p class="text-center"><strong>WORSHIP SERVICE (INVOLVING ALL THE ARTS)</strong></p>
        <p>SATURDAY - JUNE 9TH</p>
        <p class="text-center">Youth Activities</p>
        <p>SATURDAY - JUNE 10TH</p>
        <p class="text-center">WORSHIP SERVICE</p>
        <p class="text-center">9AM - 12PM</p>
        <p class="text-center">
          <strong>LEADERS IN TRAINING GRADUATION</strong><br/>
          (This follows a final three month intensive; Basic
          Biblical Principles and Ministerial Ethics and final exam)
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="static/images/bhc-youth-resize.png"alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h3 style="font-size: .8em; white-space: nowrap"><strong><u>DON'T MISS THIS WONDERFUL WEEKEND OF EVENTS!</u></strong></h3>
        <p>FRIDAY-JUNE 15TH</p>
        <p class="text-center"><strong>GOD’S DESIGN FOR THE FAMIILY TO SUCCEED</strong></p>
        <p>SATURDAY - JUNE 16TH</p>
        <p class="text-center">AM -
              SEMINARS (MEN, WOMEN & MARRIAGE)
              SENIORS LUNCHEON
              <br/>
              PM -
              COUPLES NIGHT OUT
              SINGLES NIGHT OUT
        </p>
        <p>SATURDAY - JUNE 17TH</p>
        <p class="text-center">9AM - MARRIAGE /FAMILY & RENEWAL OF VOWS</p>
        <p class="text-center">5PM — FATHERS’ DAY CELEBRATION</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="static/images/brownsville-resize.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    <h2 class="featurette-heading"><u>OUR PAST</u></h2>
    <p>
      <strong>MONDAY - JUNE 18</strong>&emsp;PAST MEMBERS RECOGNIZED<br/>
      <strong>TUESDAY - JUNE 19</strong>&emsp;REUNION CHOIR<br/>
      <strong>WEDNESDAY - JUNE 20</strong>&emsp;THROUGH THE WILDERNESS<br/>
    </p>
    <h2 class="featurette-heading"><u>OUR PRESENT</u></h2>
    <p>
      <strong>THURSDAY - JUNE 21</strong><br/>
      What we have accomplished as a ministry; Numeric Growth,
      Community Involvement, Services offered by the Church.<br/>
      <strong>FRIDAY - JUNE 22</strong>&emsp;CELEBRATION BANQUET<br/>
      <strong>SATURDAY - JUNE 23</strong>&emsp;PCT/BHC REUNION BOATRIDE<br/>
    </p>

  </div><!-- /.container -->


  <!-- FOOTER -->
  <!-- <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer> -->
</main>

{% endblock content %}
