/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

 html,
 body {
 /*css for full size background image*/
   background: url(/static/images/logo-min-resize.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;

   height: 100%;
   background-color: #FBF4F4;
   color: darkslateblue;
   text-align: center;
   text-shadow: 0 1px 3px rgba(0,0,0,.5);

 }

/* html,
body {
  height: 100%;
  background-color: white;
}

body {
  background: url(/static/images/logo-min.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
} */

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
  margin-top: -80%;
}
.cover .btn {
  padding: .75rem 1.25rem;
  font-weight: 700;
  color: darkslateblue;
  /* margin-bottom: -150%; */
}

/*
 * Button
 */
 .btn-outline {
     background-color: transparent;
     color: inherit;
     transition: all .5s;
 }

 .btn-primary.btn-outline {
     color: darkslateblue;
 }

 .btn-primary.btn-outline:hover,
 .btn-success.btn-outline:hover,
 .btn-info.btn-outline:hover,
 .btn-warning.btn-outline:hover,
 .btn-danger.btn-outline:hover {
     color: #fff;
     background-color: darkslateblue;
 }



@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


@media screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
  .cover {
    padding: 0 1.5rem;
    margin-top: 0%;
  }
  .cover .btn {
    padding: .75rem 1.25rem;
    font-weight: 700;
    color: darkslateblue;
    margin-bottom: -0%;
  }
}

@media screen
and (min-device-height : 400px)
and (max-device-height : 759px) {
  .cover {
    padding: 0 1.5rem;
    margin-top: 0%;
  }
  .cover .btn {
    padding: .75rem 1.25rem;
    font-weight: 700;
    color: darkslateblue;
    margin-bottom: -0%;
  }
}



/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
