/*
 * Globals
 */

/* Links */
/* a,
a:focus,
a:hover {
  color: #fff;
} */

/* Custom default button */
/* .btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background-color: #fff;
  border: .05rem solid #fff;
  text-shadow: none; /* Prevent inheritance from `body` */
/* } */


/*
 * Base structure
 */

 html {

 }

 body {
 /*css for full size background image*/
   background: url(/static/images/logo-min-resize2.png) no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: contain;
   /* padding-top: 3rem;
   padding-bottom: 3rem; */
   /* height: 100%; */
   background-color: #FBF4F4;
   color: darkslateblue;
   text-align: center;
   text-shadow: 0 1px 3px rgba(0,0,0,.5);
   min-height:100%;
 }

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

/* .nav {
  padding-top: 20px;
  padding-bottom: 20px;
} */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}
/*
 * Cover
 */
 .cover {
   padding-top: 5em;
 }

.cover .btn {
  /* padding: .75rem 1.25rem; */
  font-weight: 700;
  color: darkslateblue;
  /* margin-bottom: -150%; */
}

/*
 * Button
 */
 .btn-outline {
     background-color:  rgba(72, 61, 139, 0.3);
     color: inherit;
     transition: all .5s;
 }

 .btn-primary.btn-outline {
     color: darkslateblue;
 }

 .btn-primary.btn-outline:hover,
 .btn-success.btn-outline:hover,
 .btn-info.btn-outline:hover,
 .btn-warning.btn-outline:hover,
 .btn-danger.btn-outline:hover {
     color: #fff;
     background-color: darkslateblue;
 }

@media (max-width: 20.5em) {
  .celebration-text {
      padding-top: 3.3em;
  }
}


@media (min-width: 20.5em) and (max-height: 30em) {
  .cover {
    padding-top: 0px;
  }

  .lead {
    font-size: 1rem;
  }


  .celebration-text {
      padding-top: 3.3em;
  }

  .learn-btn {
    padding-top: 12em;
  }
}








/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}
